<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link  rel="stylesheet"  href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer ">

    {% block style %}{% endblock style %}
</head>
<body>
    {% block contents %}{% endblock contents %}

    
    {% block public_script %}
        <script>
            {% include 'static/js/reconnecting-websocket.min.js' %}
        </script>
    
    {% endblock public_script %}
    {% block script %}{% endblock script %}
</body>
</html>