{% extends 'main.html' %}

{% block title %}{% endblock title %}
{% block style %}
        <style>
           table { border-collapse:collapse ; border-spacing:0 ; margin:auto ; width:80% ; border:1px solid #ddd ;}
    
            th , td { text-align:center ; padding:8px ;}
                
            tr:nth-child(even) { background-color:#f2f2f2 ;}

            .mybutton { color:#fff ; background-color:#337ab7 ; margin-top: 25px ; cursor:pointer ; border:1px solid transparent ;
                padding:6px 12px ; font-size:14px ; line-height:1.5 ; border-radius:4px ;}

            .cWWW { overflow-x:auto ;}
        </style>
       
{% endblock style %}
{% block contents %}
        <table class='cWWW'>
        <thead>
            <tr>
                <td>id</td>
                <td>name</td>
                <td>menu_items</td>
                <td>action</td>

            </tr>
        </thead>

        {% for x in menu  %}
        
            <tr>
                <td>{{x.id}}</td>


                <td>{{x.menu_name}}</td>
                <td>
                {% for x in x.menu_items.all %}
                
                    {{x}}<br>
                {% endfor %} 
                    
                </td>


                <td>
                    
                    <a href="{% url 'app_orders:MenuUpdateView' x.pk %}">update</a>
                    <a href="{% url 'app_orders:MenuDeleteView' x.pk%}">delete</a>

                </td>

                
            </tr>

        {% endfor %}

    </table>

    <br>
    <br>
    <p style=" text-align:center">
    <a href="{% url 'app_orders:MenuCreateView' %}" class="mybutton" > create </a>

    </p>


{% endblock contents %}



   