       <!--           127.0.0.1:8000/app_orders/menu/chief-cook-order/            -->      
{% extends 'main.html' %}
{% block title %}{% endblock title %}
{% block style %}
        <style>
            {% include 'static/css/YesCashierOrder.css' %}
        </style>
{% endblock style %}
{% block contents %}

 <audio src="/media/bill.wav" id="notifcation" ></audio>
    <div class='cWWW' >
        <table>
        <tr>
            <th>table</th>
            <th>time</th>
            <th>items</th>
            <th>deliver</th>
        </tr> 
        {% if not orders %}
            </table >
            <h1 style="text-align:center">No orders need to be paid </h1> </td>

        {% endif %}
        {% for x in orders %}
            <tr>
                <td>{{x.table}}</td>
                <td>{{x.time}}</td>
                <td> 
                    {% for i in x.order_food_item.all %}
                        {{i.food_item.name}} : {{i.count}}
                        <br>
                    {% endfor %}
                </td>
                <td>
                    <button class="mybutton"> <a style="color:#fff;text-decoration: none;" href="{% url 'app_orders:HasCashierPrintOrder' x.pk %}">pay</a> </button>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>


    


{% endblock contents %}

{% block script %}
        <script>
            {% include 'static/js/YesCashierOrder.js' %}
        </script>
{% endblock script %}
