.mybutton { color:#fff ; background-color:#337ab7 ; margin-top: 25px ; cursor:pointer ; border:1px solid transparent ;
            padding:6px 12px ; font-size:14px ; line-height:1.5 ; border-radius:4px ;}

.cGGG { text-align:center ; margin-top:5rem ;}